:root {
  --color-primary: #ed455d;
  --color-violet: #553d67;
  --text-color: #6d7d8b;
  --shadow-dark: 0px 10px 15px rgba(101, 90, 90, 0.25);
  --shadow-light: 0 2rem 2rem rgba(0, 0, 0, 0.06);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  display: none;
  font-size: 16px;
}
body {
  font-family: "Mulish", sans-serif;
  background-color: white;
  font-size: 16px;
}
.container {
  width: auto;
  height: 100vh;
}
.span {
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--color-primary);
}
@media screen and (max-width: 550px) and(min-width:350px) {
  html,
  body {
    font-size: 10px;
  }
}
@media screen and (max-width: 778px) and(min-width:550px) {
  html,
  body {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) and(min-width:778px) {
  html,
  body {
    font-size: 16px;
  }
}
